* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
width: 100%;
padding: 100px auto;
height: 200vh;

}
.icon{
  position: absolute;
  top: 45px;
  left: 200px;
 cursor: pointer;
}
.container{

background-color: rgb(228, 235, 236,0.7);
width: 80%;
height: 100%;
margin: auto;
}

.imgp img{
position: absolute;
right: 185px;
top: 55px;
}
.img.show{
transform: translateX(-50px);
}
.nav{
background-color: rgba(228, 235, 236);
  padding:35px;
  width: 100%;
  height: 60px; 
}
.content{
width: 100%;
height: 100%;
}
.content .display{
margin: 40px 40px 40px 40px ;
height: 100%;

}
ul{
list-style: none;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.nav ul {
display: flex;

}
.nav .main-nav{
margin-left: 50px;
}
.nav .main-nav li{
padding: 10px;
}
.nav ul li a{
text-decoration: none;
font-size: 20px;
}
.nav ul li a:hover{
padding: 2px;
background-color:rgb(169, 169, 169,0.4);
}
.nav .main-nav .drop-down-menu{
  position: absolute;
  width: 50px;
  height: 20px;
  top: 50px;
 display:flex;
 flex-direction: column;
 


}
.nav .main-nav .drop-down-menu li a{
  color: aliceblue;
  background-color: darkcyan;
}
.nav .main-nav .drop-down-menu li{

  display: none;
  width: 100px;
  min-width: 20px;
  white-space: nowrap;
  padding: 30px 0 0 0;
}
.nav .main-nav li .drop-down-menu:hover li {
  display: block;
 }


.nav .right-nav i{
margin: 5px;
cursor: pointer;
}

.nav .right-nav{

position: absolute;
top: 40px;
right: 200px;
}
.display{
  display: flex;
  
}
.one{
  width: 25%;
  height: 87%;
  margin-top: 50px;
  background-color: hsl(54, 77%, 75%,0.8);
}
.two{
  width: 25%;
  height: 87%;
  background-color: lavenderblush;
}
.three{
  width: 25%;
  height: 87%;
  margin-top: 50px;
  background-color: lightcyan;
  
}
.four{
  width: 25%;
  height: 87%;
  background-color:lightgreen ;

}
h1{
  font-size: 70px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  cursor: pointer;
 
}
.display a{
  text-decoration: none;
}
h1:hover{
  background-color: linen;
}