* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000000;
  font-size: 15px;
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 95%;
  margin: auto;
  max-width: 1100px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
}
.main-nav ul {
  display: flex;
}
.main-nav ul li {
  padding: 0 10px;
}
.main-nav ul li a {
  padding-bottom: 2px;
  color: #000;
}
.logo {
  width: 110px;
}
.main-nav ul li a:hover {
  border-bottom: black solid 2px;
}
.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}
.homecards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.homecards img {
  width: 100%;
}
@media (max-width: 800px) {
  .homecards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .homecards {
    grid-template-columns: repeat(1, 1fr);
  }
}
